<div class="error-container">
    <div class="error-content">
        <h1>Oops! Something went wrong</h1>
        <p class="error-message">{{message}}</p>
        <a href="/" class="btn-link btn-primary">Go Back Home</a>
    </div>
</div>