{{> filters}}

<div id="messages-container"></div>

<section class="restaurants-section">
    <div id="loading-indicator" class="loading-indicator" style="display: none;">
        Loading restaurants...
    </div>
    
    <div id="restaurants-container" class="restaurants-grid">
        <!-- Restaurants will be loaded via JavaScript -->
    </div>
    
    <div id="load-more-container" class="load-more-container" style="display: none;">
        <button id="load-more" class="btn btn-secondary">Load More Restaurants</button>
    </div>
</section>

<script>
    $(document).ready(function() {
        window.restaurantApp = new RestaurantApp();
    });
</script>