{{> filters}}

<section class="restaurants-section">
    <div id="loading-indicator" class="loading-indicator">
        Loading restaurants...
    </div>
    
    <div id="restaurants-container" class="restaurants-grid">
        <!-- Restaurants will be loaded here via JavaScript -->
    </div>
    
    <div id="load-more-container" class="load-more-container" style="display: none;">
        <button id="load-more" class="btn-load-more">Load More Restaurants</button>
    </div>
</section>